@{
    ViewBag.Title = "Ежедневник";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(window).on('load', function () {
        $('#results').load('/Home/Search', { type: 'Все', duration: 'Список', beginDateTime: null, endDateTime: null });
    });
</script>

<div class="container-fluid">
    <div class="row content">
        <div class="col-md-3">
            <h2>Меню</h2>
            <p>
                <button type="button" class="btn btn-default btn-block btn-info" onclick="location.href='@Url.Action("Create", "Home")'">Добавить запись</button>
            </p>
            @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <p>@Html.DropDownList("type", new SelectList(new String[] { "Все", "Встреча", "Дело", "Памятка" }), new { @class = "form-control", @value = ViewBag.NotesType })</p>
                <p>@Html.DropDownList("duration", new SelectList(new String[] { "Список", "Месяц", "Неделя", "День" }), new { @class = "form-control", @value = ViewBag.Duration })</p>
                <p>
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" name="beginDateTime" placeholder="Начало периода" class="form-control" value=@ViewBag.beginDateTime />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </p>
                <p>
                    <div class="input-group date" id="datetimepicker2">
                        <input type="text" name="endDateTime" placeholder="Конец периода" class="form-control" value=@ViewBag.endDateTime />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </p>
                <p><button type="submit" class="btn btn-default btn-block btn-info">Применить фильтры</button></p>
            }
        </div>
        <div class="col-md-9">
            <h2>Ежедневник</h2>
            <div id="results"></div>
        </div>
    </div>
</div>