@{
    ViewBag.Title = "Контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(window).on('load', function () {
        $('#results').load('/Contacts/Search', { str: null });
    });
</script>

<div class="container-fluid">
    <div class="row content">
        <div class="col-md-3">
            <h2>Меню</h2>
            <p>
                <button type="button" class="btn btn-default btn-block btn-info" onclick="location.href='@Url.Action("Create", "Contacts")'">Добавить контакт</button>
            </p>
            @using (Ajax.BeginForm("Search", "Contacts", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <div class="input-group">
                    <input type="text" name="str" class="form-control" placeholder="Поиск" />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-9">
            <h2>Контакты</h2>
            <div id="results"></div>
        </div>
    </div>
</div>